@use "global" as *;

.btn{
    display: inline-block;
    padding: rem(21) rem(70);
    border: solid 1px $white ;
    border-radius: rem(50);
    font-size: rem(15);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.05em;
}