@use "global" as *;


.button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: $bold;
    background: transparent linear-gradient(90deg, #7633A4 0%, #250D65 100%) 0% 0% no-repeat padding-box;
    color: $white;
    width: rem(200);
    padding: rem(23) 0;
    border-radius: 50px;
    line-height: 1;
    letter-spacing: 0.01em;
}