@use "global" as *;

.page-link{
    margin-top: rem(40);
    color:#B8AED5 ;
}

.page-link__flex{
    display: flex;
    align-items: center;
    padding: rem(15) 0;
    border-top: solid 1px  #B8AED5;
    border-bottom: solid 1px #B8AED5 ;
}

.page-link__prev,
.page-link__next{
    width: 50%;
    position: relative;
    padding: 0 rem(20);
    font-size: rem(12);
    line-height: calc(22/14);
    @include mq(md){
        font-size: rem(14);
    }
}

.page-link__prev{
    margin-right: auto;
}

.page-link__prev::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: rem(1);
    height: 100%;
    background-color: #B8AED5;
}

.page-link__next{
    margin-left: auto;
}

.page-link__archive{
    margin-top: rem(20);
    text-align: center;
    font-size: rem(14);
}